body,
html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    align-items: center;
    font-size: x-large;
    background: linear-gradient(45deg, cyan, lightgreen, white);
    box-sizing: border-box;
}

.container-main {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 20% 5% 75%;
    border: 1px solid gray;
}

.container-main > * {
    border: 1px solid gray;
  }

header {
    grid-column: span 6;
}
  
nav {
    background: linear-gradient(45deg, gray, lightgray, white);
    justify-content: space-evenly;
    grid-column: span 6;
}

main {
    grid-column: span 6;
}

form {
    background: linear-gradient(45deg, lightblue, lightyellow, yellow);
    margin: 5px;
    padding: 5px;
    text-align: center;
    color: darkslategray;
    border: 1px solid gray;
    width: 98%;
    height: 80%;
}

.form-div {
    width: 100%;
    padding: 10px;
    margin: 10px;
}

.form-input {
    width: 95%;
}

.desc-input {
    width: 95%;
    height: 50%;
}

.date-input {
    width: 95%;
}

button {
    width: 95%;
    font-size: x-large;
}

h1 {
    color: navy;
    font-style: italic;
}

h2 {
    color: darkslategray;
    font-style: italic;
}

table, th, tr, td {
    border: 1px solid gray;
}

table {
    width: 100%;
}

.task_table_headline {
    background: linear-gradient(45deg, darkblue, blue);
    color: white;
    font-style: italic;
}

.task_table_line {
    background: linear-gradient(lightyellow, white);
    color: navy;
}

.total_table_headline {
    background: linear-gradient(45deg, teal, cyan);
    color: white;
    font-style: italic;
}

.total_table_line {
    font-size: xx-large;
    font-weight: bold;
}

#count_task_line {
    background: linear-gradient(45deg, cyan, lightcyan);
    color: teal;
}

#count_task_line_complete {
    background: linear-gradient(45deg, lime, lightgreen);
    color: green;
}

#count_task_line_uncomplete {
    background: linear-gradient(45deg, yellow, lightyellow);
    color: darkgoldenrod;
}

#status-pending {
    background: linear-gradient(45deg, gold, yellow);
    color: darkslategray;
}

#status-completed {
    background: linear-gradient(45deg, green, lime);
    color: white;
}