<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container-main">
        <header>
            <h1>Task App</h1>
        </header>
    
        <nav>
            <a href="/">Home page</a>
            <a href="/create">+Create task+</a>
        </nav>

        <main>
            <table>
                <tr>
                    <th class="total_table_headline">Total Tasks</th>
                    <th class="total_table_headline">Completed Tasks</th>
                    <th class="total_table_headline">Uncompleted Tasks</th>
                </tr>
                <tr>
                    <td class="total_table_line" id="count_task_line">{{ task_count }}</td>
                    <td class="total_table_line" id="count_task_line_complete">{{ completed_count }}</td>
                    <td class="total_table_line" id="count_task_line_uncomplete">{{ uncompleted_count }}</td>
                </tr>
            </table>

            <table>
                <tr>
                    <th class="task_table_headline">Full name</th>
                    <th class="task_table_headline">Task name</th>
                    <th class="task_table_headline">Description</th>
                    <th class="task_table_headline">Destination datetime</th>
                    <th class="task_table_headline">Datetime of creation</th>
                    <th class="task_table_headline">Status</th>
                    <th class="task_table_headline">Actions</th>
                </tr>
                {% for task in tasks %}
                <tr>
                    <td class="task_table_line">{{ task.full_name }}</td>
                    <td class="task_table_line">{{ task.task_name }}</td>
                    <td class="task_table_line">{{ task.description }}</td>
                    <td class="task_table_line">{{ task.destination }}</td>
                    <td class="task_table_line">{{ task.creation_date }}</td>
                    {% if not task.completed %}
                    <td id="status-pending">{{ 'Pending' }}</td>
                    {% else %}
                    <td id="status-completed">{{ 'Completed' }}</td>
                    {% endif %}
                    <td class="task_table_line">
                        {% if not task.completed %}
                        <a href="{{ url_for('complete', task_id=str(task._id)) }}" onclick="return confirm('Are you sure you want to finish this task?');">O</a>
                        {% else %}
                        <a href="{{ url_for('uncomplete', task_id=str(task._id)) }}" onclick="return confirm('Are you sure you want to uncheck this task?');">V</a>
                        {% endif %}
                        <a href="{{ url_for('edit', task_id=str(task._id)) }}">E</a>
                        <a href="{{ url_for('delete', task_id=str(task._id)) }}" onclick="return confirm('Are you sure you want to delete this task?');">X</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </main>
    </div>
</body>
</html>